doctype html
html
  head
    title Sahil Dance Acedemy
    block scripts
    block style 
  body
    nav#navbar
            ul 
                div#logo
                        img(src="/static/img/logomain.jpg", alt="")
                        | SDA 
                li #[a(href = "/") Home] 
                li #[a(href = "/") About]
                li #[a(href = "/") Services]
                li #[a(href = "/") Class_info]
                li #[a(href = "/contact") Contact_us]
    block content
    footer#Footer 
        | Copyright &copy All rights reserved under sahildanceacedamy.com