extends base.pug

block scripts
  script(src='/static/index.js')

block style 
    style
      include ../static/style.css

block content 
    section#introSection 
        div  Welcome to Sahil's Dance Acedemy 
        div.small  Eat Sleep Dance Repeat
    section#Mission 
        h2 Our Misson
        div.card
            h3 Dance perfection 
            div.card-box 
                div.card-img 
                    img(src="/static/img/img1.png", alt="")
                div.card-content 
                    p This is best acedemy I have ever seen
        div.card
            h3 Dance to express
            div.card-box
                div.card-img 
                    img(src="/static/img/img2.jpg", alt="") 
                div.card-content 
                    p This is best acedemy I have ever seen 
        div.card
            h3 Expert teachers 
            div.card-box
                div.card-img 
                    img(src="/static/img/img3.png", alt="")
                div.card-content 
                    p This is best acedemy I have ever seen 
    section#sponsorsSection  
        h2 Our Sponsors 
        div.spon 
            img(src="/static/img/adobe.jpg", alt="Sponsor Image") 
            img(src="/static/img/apple.png", alt="Sponsor Image") 
            img(src="/static/img/google.jpg", alt="Sponsor Image") 
            img(src="/static/img/logom.png", alt="Sponsor Image") 
            img(src="/static/img/mobilunity.jpg", alt="Sponsor Image")
